.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 20px;
  background-color: #a00000; 
  color: #333;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.hide {
  transform: translateX(100%);
  opacity: 0;
}

.error {
  background-color: #ff4848; 
}

.success {
  background-color: #259716; 
}