.leftColumn {
  flex: 1;
  text-align: center;
  position: relative;
}

.mainImage {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: opacity 1.5s ease;
}

.prevBtn, .nextBtn {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background-color: #4a2c2a; 
  color: white;
  border: 2px solid #fff; 
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 4px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevBtn {
  left: 8px;
}

.nextBtn {
  right: 8px;
}

.thumbnailGallery {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.1);
}